<a href="https://colab.research.google.com/github/Brayam-Becker/PySparkStudy/blob/main/PySparkTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PySpark Tutorial:

PySpark Dataframe<br>
Reading The Dataset<br>
Checking the Datatypes of the Column(Schema)<br>
Selecting Columns And Indexing<br>
Check Describe option similar to Pandas<br>
Adding Columns<br>
Dropping columns<br>
Renaming Columns

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 58.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=9fe1d4868e1903a417e6b6fa466bf65efb6c4232e99332cecd0de28fc074e1c4
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('/content/car data.csv')

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [4]:
pd.head()

AttributeError: ignored

In [5]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('Pratice').getOrCreate()

In [8]:
spark

In [9]:
df_pyspark=spark.read.csv('/content/car data.csv')

In [11]:
df_pyspark.show()

+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|          _c0| _c1|          _c2|          _c3|       _c4|      _c5|        _c6|         _c7|  _c8|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|     Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|
|         ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|
|vitara brezza|2018|         9.25|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|
|      s cross|2015|          6.5|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         7.45|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|
|         ciaz|2015|         6.85|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|          7.5|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|     Dealer|      Manual|    0|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
only showing top 20 rows

In [25]:
df_pyspark = spark.read.option('header', 'true').csv('/content/car data.csv')

In [28]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [27]:
df_pyspark.printSchema()

root
 |-- Car_Name: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Selling_Price: string (nullable = true)
 |-- Present_Price: string (nullable = true)
 |-- Kms_Driven: string (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Seller_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner: string (nullable = true)

In [26]:
df_pyspark.head()

Row(Car_Name='ritz', Year='2014', Selling_Price='3.35', Present_Price='5.59', Kms_Driven='27000', Fuel_Type='Petrol', Seller_Type='Dealer', Transmission='Manual', Owner='0')

In [29]:
from pyspark.sql import SparkSession

In [31]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [32]:
spark

In [39]:
## Read the dataset
df_pyspark = spark.read.option('header', 'true').csv('/content/car data.csv', inferSchema=True)

In [40]:
## CReate Schema 
df_pyspark.printSchema()

root
 |-- Car_Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Selling_Price: double (nullable = true)
 |-- Present_Price: double (nullable = true)
 |-- Kms_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Seller_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner: integer (nullable = true)

In [41]:
df_pyspark=spark.read.csv('/content/car data.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|     Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|         ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|
|vitara brezza|2018|         9.25|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|
|      s cross|2015|          6.5|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         7.45|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|
|         ciaz|2015|         6.85|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|          7.5|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|     Dealer|      Manual|    0|
|          sx4|2010|         2.65|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
only showing top 20 rows

In [42]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [43]:
df_pyspark.columns

['Car_Name',
 'Year',
 'Selling_Price',
 'Present_Price',
 'Kms_Driven',
 'Fuel_Type',
 'Seller_Type',
 'Transmission',
 'Owner']

In [45]:
df_pyspark.head(3)

[Row(Car_Name='ritz', Year=2014, Selling_Price=3.35, Present_Price=5.59, Kms_Driven=27000, Fuel_Type='Petrol', Seller_Type='Dealer', Transmission='Manual', Owner=0),
 Row(Car_Name='sx4', Year=2013, Selling_Price=4.75, Present_Price=9.54, Kms_Driven=43000, Fuel_Type='Diesel', Seller_Type='Dealer', Transmission='Manual', Owner=0),
 Row(Car_Name='ciaz', Year=2017, Selling_Price=7.25, Present_Price=9.85, Kms_Driven=6900, Fuel_Type='Petrol', Seller_Type='Dealer', Transmission='Manual', Owner=0)]

In [46]:
df_pyspark.show()

+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|     Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|         ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|
|vitara brezza|2018|         9.25|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|
|      s cross|2015|          6.5|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         7.45|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|
|         ciaz|2015|         6.85|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|          7.5|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|     Dealer|      Manual|    0|
|          sx4|2010|         2.65|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
only showing top 20 rows

In [49]:
df_pyspark.select(['Car_NAme', 'Year']).show()

+-------------+----+
|     Car_NAme|Year|
+-------------+----+
|         ritz|2014|
|          sx4|2013|
|         ciaz|2017|
|      wagon r|2011|
|        swift|2014|
|vitara brezza|2018|
|         ciaz|2015|
|      s cross|2015|
|         ciaz|2016|
|         ciaz|2015|
|     alto 800|2017|
|         ciaz|2015|
|         ciaz|2015|
|       ertiga|2015|
|        dzire|2009|
|       ertiga|2016|
|       ertiga|2015|
|       ertiga|2016|
|      wagon r|2015|
|          sx4|2010|
+-------------+----+
only showing top 20 rows

In [52]:
df_pyspark['Car_Name']

Column<'Car_Name'>

In [54]:
df_pyspark.dtypes

[('Car_Name', 'string'),
 ('Year', 'int'),
 ('Selling_Price', 'double'),
 ('Present_Price', 'double'),
 ('Kms_Driven', 'int'),
 ('Fuel_Type', 'string'),
 ('Seller_Type', 'string'),
 ('Transmission', 'string'),
 ('Owner', 'int')]

In [55]:
df_pyspark.describe().show()

+-------+--------+------------------+-----------------+-----------------+-----------------+---------+-----------+------------+-------------------+
|summary|Car_Name|              Year|    Selling_Price|    Present_Price|       Kms_Driven|Fuel_Type|Seller_Type|Transmission|              Owner|
+-------+--------+------------------+-----------------+-----------------+-----------------+---------+-----------+------------+-------------------+
|  count|     301|               301|              301|              301|              301|      301|        301|         301|                301|
|   mean|   800.0|2013.6279069767443|4.661295681063127|7.628471760797344|36947.20598006644|     null|       null|        null|0.04318936877076412|
| stddev|    null|2.8915541273367253|5.082811556177805|8.644115402015789|38886.88388206789|     null|       null|        null| 0.2479148926949198|
|    min|     800|              2003|              0.1|             0.32|              500|      CNG|     Dealer|   Automatic|                  0|
|    max|   xcent|              2018|             35.0|             92.6|           500000|   Petrol| Individual|      Manual|                  3|
+-------+--------+------------------+-----------------+-----------------+-----------------+---------+-----------+------------+-------------------+

In [59]:
### Adding columns in Data Frame
df_pyspark = df_pyspark.withColumn('Year After 2 year', df_pyspark['Year']+2)

In [60]:
df_pyspark.show()

+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+-----------------+
|     Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|Year After 2 year|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+-----------------+
|         ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|             2016|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|             2015|
|         ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|             2019|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|             2013|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|             2016|
|vitara brezza|2018|         9.25|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|             2020|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|             2017|
|      s cross|2015|          6.5|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|             2017|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|             2018|
|         ciaz|2015|         7.45|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|             2017|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|             2019|
|         ciaz|2015|         6.85|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|             2017|
|         ciaz|2015|          7.5|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|             2017|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|             2017|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|             2011|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|             2018|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|             2017|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|             2018|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|     Dealer|      Manual|    0|             2017|
|          sx4|2010|         2.65|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|             2012|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+-----------------+
only showing top 20 rows

In [63]:
## Drop the columns
df_pyspark=df_pyspark.drop('Year after 2 year')

In [64]:
df_pyspark.show()

+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|     Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|         ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|
|vitara brezza|2018|         9.25|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|
|      s cross|2015|          6.5|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         7.45|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|
|         ciaz|2015|         6.85|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|          7.5|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|     Dealer|      Manual|    0|
|          sx4|2010|         2.65|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
only showing top 20 rows

In [65]:
## Rename the column 
df_pyspark.withColumnRenamed('Car_Name', 'New Car name').show()

+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
| New Car name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
|         ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|
|          sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|
|      wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|
|        swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|
|vitara brezza|2018|         9.25|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         6.75|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|
|      s cross|2015|          6.5|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2016|         8.75|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|         7.45|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|
|     alto 800|2017|         2.85|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|
|         ciaz|2015|         6.85|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|
|         ciaz|2015|          7.5|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|
|       ertiga|2015|          6.1|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|
|        dzire|2009|         2.25|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2015|         7.25|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|
|       ertiga|2016|         7.75|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|
|      wagon r|2015|         3.25|         5.09|     35500|      CNG|     Dealer|      Manual|    0|
|          sx4|2010|         2.65|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|
+-------------+----+-------------+-------------+----------+---------+-----------+------------+-----+
only showing top 20 rows